<div class="my-movies-page">
  <div class="my-movies-container">
    <h1>My Movies</h1>

    <% if (movies.length === 0) { %> <%- include('partials/_empty-state') %> <%
    } else { %> <%- include('partials/_movie-stats', { stats }) %> <%-
    include('partials/_movie-filters') %> <%- include('partials/_movies-grid', {
    movies }) %> <% } %>
  </div>
</div>

<script src="/js/my-movies.js"></script>
