<div class="page-container">
  <%- include('partials/_page-header', { 
    title: 'Top Streaming Releases',
    subtitle: 'Discover the latest movies available for streaming'
  }) %>

  <%- include('partials/_page-controls', { 
    showControls: true,
    actionUrl: '/top-releases',
    sortOptions,
    sortBy,
    genres,
    genre
  }) %>

  <%- include('partials/_page-content', { 
    movies,
    user: user || null,
    followedMovieIds: null,
    query: '',
    showResultsCount: true,
    showLoadMore: true,
    showFollowButton: false,
    emptyMessage: 'No top releases found for the selected criteria.'
  }) %>
</div>

<script>
  // Using pagination service - no need to track initial pages
  window.hasMore = <%= hasMore %>;
</script>
<script src="/js/movie-cards.js"></script>
<script src="/js/load-more.js"></script>
<script src="/js/custom-dropdown.js"></script>
<script src="/js/top-releases.js"></script>