<div class="page-container">
  <%- include('partials/_page-header', { 
    title: 'Upcoming Movies',
    subtitle: 'Movies coming soon'
  }) %>

  <% if (followMessage) { %>
    <div class="follow-message">
      <p class="follow-msg"><%= followMessage %></p>
    </div>
  <% } %>

  <%- include('partials/_page-content', { 
    movies,
    user,
    followedMovieIds,
    query: query || '',
    showResultsCount: true,
    showLoadMore: true,
    showFollowButton: true,
    emptyMessage: 'No upcoming movies found.'
  }) %>
</div>

<script>
  // Set global variable for load more manager
  window.initialPagesUsed = <%= initialPagesUsed %>;
</script>
<script src="/js/movie-cards.js"></script>
<script src="/js/load-more.js"></script>
